<title>Aanmelden</title>

{% extends "base.html" %}
{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<style>
  input, input:focus, input:focus-visible, input:focus-within {
    width: 100%;;
    background-color: transparent;
    font-family: var(--normal-font-family);
    line-height: 1.5rem;
    box-sizing: border-box;
    display: block;
  }
</style>

<datalist id="schools-list"></datalist>

<div class="centered">
  <h1>Welkom</h1>
  <h2>Vul je inloggegevens in</h2>
  
  <form method="post">
    {% csrf_token %}
  
    {{ form.school }} </br>
    {{ form.username }} </br>
    {{ form.password }} </br>
    
    <button id="" type="submit" class="big_button">Log In</button>
  </form>
</div>

<script>
  $("#id_school").on("input", () => {
    query = encodeURI($("#id_school").val());

    $.ajax({
      url: "../api/search_tenants",
      method: "GET",
      data: { "query": query },
      
      success: (data) => {
        let list = document.getElementById("schools-list");
        list.innerHTML = "";

        for(i in data) {
          list.appendChild(
            new Option(value = data[i])
          );
        }
      },
    })
  });
</script>

{% endblock %}