{% extends "views/viewbase.html" %}
{% block viewcontent %}

<div>
  <style>
    p { margin: 5px 0px }

    #rusure:not([hidden]) {
      display: block;
      width: fit-content;
      margin-bottom: 10px;
    }
  </style>

  <script>
    var confirming = false;

    function delete_account() {
      if (confirming) {
        window.location.href = "/delete_user";
      } else {
        confirming = true;
        document.getElementById("rusure").hidden = false;
      }

    }
  </script>
  
  <h1>Accountbeheer</h1>
  
  <h3 class="bold">Persoonlijke gegevens</h3>
  <div style="margin-left:10px">
    <p>Naam: {{ full_name }}</p>
    <p>School: {{ user.school }}</p>
    <p>Gebruikersnaam: {{ user.username }}</p>
    <p>Emailadres: {{ user.email }}</p>
  </div>

  <h3 class="bold">Beheer</h3>
  <div style="margin-left:10px">
    <span id="rusure" class="error" hidden="true">Weet je het zeker?<br></span>
    <button onclick="delete_account()">Verwijder MagisQuick account</button>
  </div>
</div>

{% endblock %}