{% extends "views/viewbase.html" %}
{% block viewcontent %}

<div>
  <h1>Boekenoverzicht</h1>
  <h3>Deze boeken moet je {{date}} mee naar huis nemen.</h3>

  <table style="width:500px">
    <colgroup>
      <col style="width:30px">
      <col>
      <col style="width:90px">
    </colgroup>

    <tr>
      <th>TODO: put icon here</th>
      <th>Vak</th>
      <th>Datum</th>
    </tr>

    <!-- entries here -->
    {% for s in subjects %}
      <tr>
        <td>{{s.reason}}</td>
        <td>{{s.name}}</td>
        <td>{{s.date}}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}