{% extends "views/viewbase.html" %}
{% block viewcontent %}

<style>
  .name { text-decoration: none }
  .name:hover { text-decoration: underline }

  .reason {
    float: right;
    color: white;
    font-size: var(--normal-font-size);
    padding: var(--small-px);
    border-radius: var(--small-px);
    background-color: var(--ternary-background);
  }

  .icon.proefwerk::before {content: "o"}
  .icon.mondeling::before {content: "p"}
  .icon.huiswerk::before {content: "Y"}
  .icon.les::before {content: "a"}
  .icon.SO::before {content: "o"}
  .icon.SE::before {content: "o"}

  .trans {
    user-select: none;
    color: transparent;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
</style>

<div style="width:85%">
  <h1>{{title}}</h1>
  
  <h3>
    De boeken voor deze vakken moet
    je vanmiddag mee naar huis nemen.
  </h3>

  <table style="width:var(--big-width)">
    <colgroup>
      <col style="width:30px">
      <col style="width:min-content">
      <col style="width:min-content">
      <col style="width:min-content">
    </colgroup>

    <tr>
      <th></th>
      <th style="border-right:none">Vak</th>
      <th style="border-left:none"></th>
      <th style="text-align:right">Datum</th>
    </tr>

    <!-- entries here -->
    {% for s in upcoming_subjects %}
      <tr id="app-{{s.id}}">
        <td class="icon {{s.reason}}" style="text-align:center"></td>
        <td style="border-right:none">
          <a
            class="name" target="_blank"
            href="{{app_url_start}}{{s.id}}">
            {{s.name}}
          </a>
        </td>
        <td style="border-left:none">
          {% if s.reason != "les" %}
            <span class="reason">{{s.reason}}</span>
          {% endif %}
        </td>
        <td style="text-align:right;width:60pt">{{s.date}}</td>
      </tr>
    {% endfor %}
  </table>

  <br>

  <h3>
    De boeken voor deze vakken moet
    je vandaag mee naar school nemen.
  </h3>

  <table style="width:var(--big-width)">
    <colgroup>
      <col style="width:30px">
      <col style="width:min-content">
      <col style="width:min-content">
      <col style="width:min-content">
    </colgroup>

    <tr>
      <th></th>
      <th style="border-right:none">Vak</th>
      <th style="border-left:none"></th>
      <th style="text-align:right">Tijd</th>
    </tr>

    <!-- entries here -->
    {% for s in todays_subjects %}
      <tr id="app-{{s.id}}">
        <td class="icon {{s.reason}}" style="text-align:center"></td>
        <td style="border-right:none">
          <a
            class="name" target="_blank"
            href="{{app_url_start}}{{s.id}}">
            {{s.name}}
          </a>
        </td>
        <td style="border-left:none">
          {% if s.reason != "les" %}
            <span class="reason">{{s.reason}}</span>
          {% endif %}
        </td>
        <td style="text-align:right;width:60pt">{{s.date}}</td>
      </tr>
    {% endfor %}
  </table>

  <div style="height:15px"></div>
  (Klik op een vak om de afspraak te openen)
</div>

{% endblock %}