{% extends "views/viewbase.html" %}
{% block viewcontent %}

<style>
  .reason {
    float: right;
    color: white;
    font-size: var(--normal-font-size);
    padding: var(--small-px);
    border-radius: var(--small-px);
    background-color: var(--ternary-background);
  }

  .icon.proefwerk::before {content: "o"}
  .icon.mondeling::before {content: "p"}
  .icon.huiswerk::before {content: "Y"}
  .icon.les::before {content: "a"}
  .icon.SO::before {content: "o"}
  .icon.SE::before {content: "o"}
</style>

<div style="width:85%">
  <h1>{{title}}</h1>
  <h3>
    De boeken voor deze vakken moet
    je vanmiddag mee naar huis nemen.
  </h3>

  <table style="width:var(--big-width)">
    <colgroup>
      <col style="width:30px">
      <col style="width:min-content">
      <col style="width:min-content">
      <col style="width:min-content">
    </colgroup>

    <tr>
      <th></th>
      <th style="border-right:none">Vak</th>
      <th style="border-left:none"></th>
      <th>Datum</th>
    </tr>

    <!-- entries here -->
    {% for s in subjects %}
      <tr>
        <td class="icon {{s.reason}}" style="text-align:center"></td>
        <td style="border-right:none">{{s.name}}</td>
        <td style="border-left:none">
          {% if s.reason != "les" %}
            <span class="reason">{{s.reason}}</span>
          {% endif %}
        </td>
        <td style="text-align:right;width:60pt">{{s.date}}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}