{% extends "views/viewbase.html" %}
{% load static %}
{% block viewcontent %}

<style>
  .graph {
    height: var(--medium-width);
    max-width: 700px;
  }
</style>

<div style="width:85%">
  <h1>{{title}}</h1>
  <h3>Je behaalde cijfers van {{first_date}} tot {{last_date}}</h3>
  
  Kies een vak:
  <select id="subject" onchange="drawChart()">
    {% for subject in subjects %}
      <option>{{subject}}</option>
    {% endfor %}
  </select>
  
  <div class="graph" style="margin:10px 0px" id="grades_chart"></div>
  (Klik op de grafiek om details te zien)
  
  <script>
    // data
    const data = {
      // {% for subject, grades in averages.items %}
      "{{subject}}": [
        // {% for grade in grades %}
        ["{{grade.date}}", {{grade.grade}}, {{grade.grade}}, 5, 3, 2],
        // {% endfor %}
      ],
      // {% endfor %}
    };
    
    // load api
    google.charts.load("current", { "packages": ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);

    // draw graph
    function drawChart() {
      var grades = data[$("#subject").find(":selected").text()];
      console.log(grades);

      var table = new google.visualization.DataTable();
      table.addColumn("string", "Datum");
      table.addColumn("number", "Cijfer");
      table.addColumn("number", "Cijfer");
      table.addColumn("number", "Onvoldoende");
      table.addColumn("number", "Voldoende");
      table.addColumn("number", "Goed");
      table.addRows(grades);

      var options = {
        theme: "maximized",
        legend: { position: "none" },
        isStacked: true,
        hAxis: { textPosition: "none" },
        vAxis: { ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] },
        series: {
          0: {
            curveType: "function",
            color: "#016695",
            enableInteractivity: false
          },
          1: {
            color: "#0683ea",
            enableInteractivity: true
          },
          2: {
            color: "red",
            lineWidth: 0,
            type: 'area',
            enableInteractivity: false
          },
          3: {
            color: "lightblue",
            lineWidth: 0,
            type: 'area',
            enableInteractivity: false
          },
          4: {
            color: "green",
            lineWidth: 0,
            type: 'area',
            enableInteractivity: false
          }
        }
      };

      var div = document.getElementById("grades_chart");
      var chart = new google.visualization.LineChart  (div);
      chart.draw(table, options);
    }
  </script>
</div>

{% endblock %}