@font-face {
  font-family: magisterIcons;
  src: url(magistersymbols.woff);
}

.icon::before {
  font-family: magisterIcons;
  font-size: 150%;
}

a.icon {
  /* border-radius: 50%;
  background-color: var(--title-color); */
  color: inherit;
  text-decoration: none;
}

.icon.setting::before {content: "-"}
.icon.person::before {content: "d"}
.icon.books::before {content: "a"}
.icon.grade::before {content: "U"}
.icon.graph::before {content: "K"}
.icon.chat::before {content: "i"}
.icon.exit::before {content: "P"}

.icon.calculator {
  height: 22px;
  content: url("/static/icon-calculator.png");
}
@media (max-width: 500px) {
  .icon.calculator { height: 15px }
}