:root {
  --primary-background: #1f97f9;
  --secondary-background: #0683ea;
  --ternary-background: #016695;

  --normal-font-family: tahoma, sans-serif;
  --title-font-family: "Arboria", sans-serif;
  --subtitle-font-family: open-sans, Arial, Helvetica, sans-serif;

  --normal-color: rgb(32, 35, 51);
  --grey-color: rgb(51, 51, 51);
  --title-color: rgb(31, 151, 249);
  --subtitle-color: rgb(2, 53, 78);
  --highlight-color: rgb(255, 130, 5);

  --normal-font-size: 15px;
  --medium-font-size: 20px;
  --large-font-size: 35px;

  --small-px: 5px;
  --medium-px: 10px;
  --large-px: 30px;
  --sorta-medium-px: 30px;

  --big-width: 600px;
  --medium-width: 40%;

  --icon-png-width: 22px;
}

@media not (max-width: 500px) {
  .mobile { display: none !important }
}

/* overrides for mobile */
@media (max-width: 500px) {
:root {
  --normal-font-size: 15px;
  --medium-font-size: 20px;
  --large-font-size: 50px;

  --small-px: 3px;
  --medium-px: 15px;
  --large-px: 20px;
  --sorta-medium-px: 20px;

  --big-width: 100%;

  --icon-png-width: 50px;
}

.desktop { display: none !important }
}

* {
  font-family: var(--normal-font-family);
  font-size: var(--normal-font-size);
  color: var(--normal-color);
  text-overflow: ellipsis;
}

body {
  margin: 0;
}

h1 {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: var(--large-font-size);
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 5px;
  margin-bottom: 10px !important;
}
h1::after {
  color: var(--highlight-color);
  content: ".";
}

h2 {
  color: var(--subtitle-color);
  font-family: var(--subtitle-font-family);
  font-size: var(--medium-font-size);
  font-weight: 500;
}

h3 {
  color: var(--normal-color);
  font-family: var(--subtitle-font-family);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

input, input:focus, input:focus-visible, input:focus-within {
  font-family: var(--normal-font-family);
  -webkit-text-fill-color: var(--grey-color);
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 1.5rem;
  box-sizing: border-box;
}
input::-webkit-input-placeholder {
  color: rgb(70, 70, 70);
}
input:-webkit-autofill {
  font-size: var(--normal-font-size);
}

button {
  font-weight: 600;
  color: var(--primary-background);
  background-color: transparent;
  padding: var(--small-px) var(--medium-px);
  border-radius: 8px;
  border: 3px solid var(--primary-background);
  transition-duration: 0.2s;
}
button:hover {
  background-color: #1f97f930;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  border-width: 0 0 0 1px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  border-style: solid;
  border-color: #ccc;
  box-sizing: border-box;
  position: relative;
  padding: var(--small-px);
  border: 1px solid #ccc;
}

.centered {
  position: absolute;
  width: fit-content;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.big_input {
  width: 100%;
  display: block;
  padding: var(--small-px) var(--medium-px);
}

.big_button {
  font-size: var(--normal-font-size);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background: #1f97f9;
  color: #fff;
  padding: 1rem;
  width: 100%;
}
.big_button:hover {
  background: var(--ternary-background);
}

.error {
  color: red;
  background-color: rgba(255, 0, 0, 0.301);
  padding: 5px 10px;
  border-radius: 3px;
  margin-block-end: 10px;
}

.bold {
  font-weight: 600;
}