@font-face {
  font-family: magisterIcons;
  src: url(magistersymbols.woff);
}

.icon::before {
  font-family: magisterIcons;
  font-size: 150%;
}

a.icon {
  /* border-radius: 50%;
  background-color: var(--title-color); */
  color: inherit;
  text-decoration: none;
}

.icon.books::before {content: "a"}
.icon.calendar::before {content: "S"}
.icon.magister::before {content: "Q"}
.icon.person::before {content: "d"}
.icon.pencil::before {content: "?"}
.icon.grade::before {content: "U"}
.icon.exit::before {content: "P"}