<!-- requires variables `settings` and `title` -->

{% load static %}

<!-- fonts -->
<head>
    <link rel="stylesheet" href="//use.typekit.net/zkq0zzv.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'icons.css' %}">
    <link rel="icon" href="{% static 'logo.svg' %}" sizes="any" type="image/svg+xml">
    
    <meta content='height=device-height, width=device-width, initial-scale=1' name='viewport'/>

    <title>{{title}} - {{settings.APPNAME}}</title>
</head>


{% block content %}{% endblock %}
