{% extends "base.html" %}
{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    $.ajax({
        url: window.location.href,
        type: "GET",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("ViaLoadingPage", 1);
        },
        success: function(data) {
            console.log(data);
            $("body").html(data);
        },
        error: function() {
            window.location.pathname = "error";
        }
    })
</script>

<style>
    .loading_gif_div{
        display: flex;
        height: 100%;
        align-items: center;
    }

    .loading_gif{
        width: 10%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
</style>

<div class="loading_gif_div">
    <img class="loading_gif" src="{{loading_gif_url}}" alt="Laden...">
</div>

{% endblock %}