{% load static %}

<!-- load these now that we're loading anyway -->
<link rel="stylesheet" href="//use.typekit.net/zkq0zzv.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'icons.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- this is awfull but we need it -->
{% if title == "Tijdlijn" %}
  <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
{% endif %}

<!-- for mobile devices -->
<meta content='width=device-width, initial-scale=1' name='viewport'/>

<script>
  $.ajax({
    url: window.location.href,
    type: "GET",
    beforeSend: function(xhr) {
      xhr.setRequestHeader("ViaLoadingPage", 1);
    },
    success: function(data) {
      $("body").html(data);
    },
    error: function() {
      window.location.pathname = "error";
    }
  })
</script>

<style>
  .three-balls {
    margin: 0 auto;
    width: 70px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }

  .three-balls .ball {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    animation: bouncedelay 2s infinite cubic-bezier(.62, .28, .23, .99) both;
  }

  .three-balls .ball1 {
    animation-delay: -.16s;
  }

  .three-balls .ball2 {
    animation-delay: -.08s;
  }

  @keyframes bouncedelay {
    0% {
      bottom: 0;
      background-color: #03A9F4;
    }
    25% {
      bottom: 40px;
      background-color: #FB6542;
    }
    50% {
      bottom: 0px;
      background-color: #FB6542;
    }
    75% {
      bottom: 40px;
      background-color: #03A9F4;
    }
    100% {
      bottom: 0;
      background-color: #03A9F4;
    }
  }
</style>

<div class="three-balls">
  <div class="ball ball1"></div>
  <div class="ball ball2"></div>
  <div class="ball ball3"></div>
</div>